.youtube-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .embed-container {
    position: relative;
    padding-bottom: 100% * (9 / 16); // ration 16:9
    overflow: hidden;
    width: 100%;
    height: auto;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  img {
    width: 100%;
  }

  &.disabled:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.7;
  }

  .youtube-hint {
    display: none;
  }

  &.disabled .youtube-hint {
    display: inline-block;
    position: absolute;
    max-width: 400px;
    z-index: 1;
    font-size: 0.9rem;
    border: 2px solid #F2F2F2;

    @media screen and (max-width: 767px) {
      position: relative;
      max-width: 100%;
    }

    .youtube-hint-text {
      background: #ffffff;
      padding: 20px;

      p {
        margin-top: 0;
      }
    }

    .youtube-hint-link-container {
      margin: 5px 0;
    }

    .youtube-id {
      font-size: 0.75rem;
      text-align: right;
      margin-top: 5px;
    }
  }
}